.br {
    margin-bottom: 10px;
    margin-left: 20px;
}

.btnEstilo {
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: white;
    font-family: Arial;
    box-shadow: 
        0px 0px 4px 0px rgba(0, 0, 0, 0.14), 
        0px 3px 4px 0px rgba(0, 0, 0, 0.12),
        0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.btnEstilo:active {
    box-shadow: 
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 3px rgba(0, 0, 0, 0.12),
        0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

.btnEstilo:disabled {
    /* background-color: rgba(red, green, blue, 0.26); */
     background-color: rgba(0, 0, 0, 0.26); 
     /* background-color:    #000000 */
}

.linkEstilo {
    text-decoration: none;
    font-family: Arial;
    border-style: none;
    background-color: #2196F3;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    box-shadow: 
        0px 0px 4px 0px rgba(0, 0, 0, 0.14), 
        0px 3px 4px 0px rgba(0, 0, 0, 0.12),
        0px 1px 5px 0px rgba(0, 0, 0, 0.2);

}

.divLink .linkEstilo:active {
    box-shadow: 
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 3px rgba(0, 0, 0, 0.12),
        0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

.tamanho {
    width: 400px;
}