.btnDefault {
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 2px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: white;
    border: none;
    font-family: Arial;
    
}

.btnDense {
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 2px;
    border: none;
    height: 32px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    font-size: 13px;
    font-family: Arial;

}

.btnRaised2dp {
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 2px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: white;
    border: none;
    font-family: Arial;
    box-shadow: 
        0px 0px 4px 0px rgba(0, 0, 0, 0.14), 
        0px 3px 4px 0px rgba(0, 0, 0, 0.12),
        0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.btnRaise8dp {
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 2px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: white;
    border: none;
    font-family: Arial;
    box-shadow: 
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 3px rgba(0, 0, 0, 0.12),
        0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

btnRaiseFocused {
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 2px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: white;
    border: none;
    font-family: Arial;
    box-shadow: 
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 3px rgba(0, 0, 0, 0.12),
        0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

.btnRaiseDisbled {
    /* background-color: #2196F3; */
    text-transform: uppercase;
    border-radius: 2px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.30);
    border: none;
    font-family: Arial;
    background-color: rgba(1, 1, 1, 0.12);

}

.btnComp {
    background-color: #2196F3;
    text-transform: uppercase;
    border-radius: 2px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: white;
    border: none;
    font-family: Arial;
    box-shadow: 
        0px 0px 4px 0px rgba(0, 0, 0, 0.14), 
        0px 3px 4px 0px rgba(0, 0, 0, 0.12),
        0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.divRaised .btnComp:active {
    box-shadow: 
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 3px rgba(0, 0, 0, 0.12),
        0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

.divRaised .btnComp:focus {
    background-color: #1E88E5;
}

.divFlat .btnFlat {
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 2px;
    height: 36px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: black;
    border: none;
    font-family: Arial;
}

.divFlat .btnFlat:focus {
    background-color: rgba(0, 0, 0, 0.20);
}
.divFlat .btnFlat:active {
    background-color: rgba(0, 0, 0, 0.40);    
}

.divFloat .btnFloat {
    background-color: #F44336;
    border-radius: 100px;
    height: 56px;
    width: 56px;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    border: none;
    margin-right: 10px;
    bottom: 10px;
    right: 0;
    position: fixed;
    font-family: Arial;
    box-shadow: 
        0px 0px 4px 0px rgba(0, 0, 0, 0.14), 
        0px 3px 4px 0px rgba(0, 0, 0, 0.12),
        0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}


.divFloat .btnFloat:active {
    box-shadow: 
        0px 8px 10px 1px rgba(0, 0, 0, 0.14),
        0px 3px 14px 3px rgba(0, 0, 0, 0.12),
        0px 4px 15px 0px rgba(0, 0, 0, 0.20);
}

